<img class ="imageresults"src="img/google.png" alt="Photo">
<form class="pera" action="/results" method="POST">
<input class="inputresults" type="text" placeholder="Search..." />
<button class="buttonresults" type="button">Search</button>
</form>
