<div>
  <img class = "image" src="img/google.png" alt="Photo of logo">
  <form action="/results" method="POST">
    <input name="Search" class ="input" type="text" placeholder="Search..." />
    <div>
    <button class ="button" >Search</button>
    </div>
  </form>
</div>
